body {
    font-family: 'Montserrat';
    margin: 0%;
}

section{
    margin: 1em auto;
    padding: 1rem;
    width: 70%;
    height: calc(100vw-14em);
    color: hsl(0, 0%, 25%);
    
}

.post{
    border: solid 1px;
    border-radius: 5px;
    border-color: hsl(125, 10%, 26%);
    
}